.text-message-form {
  order: 0;
  display: flex;
  flex: auto;

  background-color: transparent;
}

.text-message-form__input {
  font-size: 3vh;
  display: flex;
  flex: auto;
  border: none;
  outline: none;
  background-color: transparent;
}
