.message-list {
  display: flex;
  flex-direction: column;
  /* BUG IN BROWSERS */
  /* https://stackoverflow.com/questions/36130760/use-justify-content-flex-end-and-to-have-vertical-scrollbar */
  /* justify-content: flex-end; */

  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  background-color: rgb(182, 182, 182);
}

/* BECAUSE OF BUG */
.message-list > :first-child {
  margin-top: auto !important;
}
