.message-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  /* position: absolute;
  top: 0px;
  left: 0px; */

  /* height: calc(100% - 5vh); */
  width: 100%;

  overflow-x: hidden;
  overflow-y: scroll;

  background-color: transparent;
}
