.message-list {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0px;
  left: 0px;

  height: calc(100% - 5vh);
  width: 100%;

  overflow-x: hidden;
  overflow-y: scroll;

  background-color: #86f0d0;
}
