@import url(https://fonts.googleapis.com/css?family=Play);

body {
	background-color: #86f0d0;
	font-family: 'Play', sans-serif;
}

.chat {
  display: flex;
	flex-direction: column;
	height: 97vh;
	width: calc(100% - 2px);
}
