.header {
  padding: 10px 10px;
  background: grey;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-button {
  height: 50px;
  width: 50px;
  
  background: url("../../static/Header/home-icon.svg");
  background-size: cover;
}

.login-button {
}
