.header {
  width: 100%;
  padding: 4vh 4vh;
  box-sizing: border-box;
  border-radius: 2vh;
  border: 1px solid rgba(25, 25, 25, 0.32);
  background: grey;
}

.home-button {
  /*height: 5vh;*/
  width: auto;
}
