.file-button {
  order: -1;
  display: flex;
  width: 5vh;
}

.file-button__input {
  visibility: hidden;
}

.file-button__image {
  height: 5vh;
  width: auto;
  align-self: center;
  cursor: pointer;
}
