.message {
  display: flex;
  flex-direction: column;

  max-width: 60%;

  color: rgba(25, 25, 25, 0.32);
  font-size: 3vh;

  border-radius: 2vh;
  border: 1px solid;
  box-sizing: border-box;

  padding-left: 1em;
  padding-right: 1em;

  width: fit-content;
  height: fit-content;

  margin: 2px;
  padding: 5px;
  clear: both;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.my {
  display: flex;
  align-self: flex-end;
  border-color: lightblue;
  background: #08f;
}

.alien {
  display: flex;
  align-self: flex-start;
  border-color: grey;
  background: #ddd;
}

.image-preview {
  width: 40vw;
  margin: 0 auto;
  border-radius: 0.5em;
  background-color: transparent;
}

.text--my {
  color: white;
  background-color: transparent;
}

.text--alien {
  color: black;
  background-color: transparent;
}

.time-and-state--my {
  color: lightblue;
  align-self: flex-end;
  font-size: 2vh;
}

.time-and-state--alien {
  color: grey;
  align-self: flex-start;
  font-size: 2vh;
}
