body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --small-icon-height: 30px;
  --small-icon-width: 30px;

  --middle-icon-height: 50px;
  --middle-icon-width: 50px;

  --middle-padding: 10px;
  --middle-margin: 10px;

  --small-font-size: 16px;
  --middle-font-size: 20px;
}
