.message {
  display: flex;
  flex-direction: column;

  max-width: 60%;

  font-size: 20px;

  margin: 0px 10px 10px 10px;
  padding: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);

  transition: font-size 0.1s linear;
}

.message:hover {
  font-size: 40px;
}

.my {
  display: flex;
  align-self: flex-end;
  border-radius: 1em 1em 0.3em 1em;
  background: #08f;
}

.alien {
  display: flex;
  align-self: flex-start;
  border-radius: 1em 1em 1em 0.3em;
  background: #ddd;
}

.image-preview {
  max-width: 250px;
  border-radius: 0.7em 0.7em 0em 0em;
  background-color: transparent;

  transition: max-width 0.1s linear;
}

.image-preview:hover {
  max-width: 400px;
}

.text--my {
  color: white;
  background-color: transparent;
}

.text--alien {
  color: black;
  background-color: transparent;
}

.extras {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: space-between;

  padding-left: 5px;
  padding-right: 5px;
}

.size--my {
  color: lightblue;
  font-size: 16px;
}

.size--alien {
  color: grey;
  font-size: 16px;
}

.time-and-state--my {
  color: lightblue;
  font-size: 16px;
  margin-left: 10px;
}

.time-and-state--alien {
  color: grey;
  font-size: 16px;
  margin-right: 10px;
}
